<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCppKpkPikzzVWcZd_65W7rNYe6rD8TzOU</string>
	<key>GCM_SENDER_ID</key>
	<string>596477561885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileParmesan</string>
	<key>PROJECT_ID</key>
	<string>parmesan-6cfe6</string>
	<key>STORAGE_BUCKET</key>
	<string>parmesan-6cfe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596477561885:ios:1456589f7312daddb54af4</string>
</dict>
</plist>